<strong>Recuperação de Senha</strong>

<p>Uma Solicitação de Recuperação de senha foi solicitada para o email ({{ email }}).</p>

<p>Para continuar sua Recuperação de senha utilize o token {{ token }}, ou acesso o link abaixo.</p>

<a href="{{ link }}">Criar nova senha</a>
